*{
    padding: 0px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

/*Barra de navegacion*/

#navegacion{

    background-color: #F8C471;
    height: 50px;
    width: 847px;
    position: fixed;
    top: 20px;
    left: 400px;
    box-shadow: 2px 5px 10px black;
    
    }
    
    
    #navegacion ul{
        list-style: none;
        margin: 0px auto;
        
        
        }
    
    #navegacion ul > li a{
    
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    border-right: 1px solid black;
    
    }
    
    
    #navegacion > ul > li {
    
    line-height: 50px;
    float: left;
    }
    
    
    #caja-nav{
    
    position: relative;
    height: 80px;
    
    }
    
    #navegacion > ul> li:hover{
    
    background-color: white;
    box-shadow: 0px 5px 10px red ;
    }

/*Caja de contenido*/

#caja-contenido{

    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid black;
    height: 1400px;
    width: 1000px;
    background-image: linear-gradient(90deg,#F1948A, #F5B7B1);
    
    }
    
    /*Contenido*/
    
    h1{
    
        text-align: center;
        font-size: 40px;
    }
    
    p{
    
    text-align: justify;
    padding: 20px;
    font-size: 20px;
    
    }
    
    